.book-items__container {
    align-items: center;
}

.bookmarks__heading ,.bookmarks__desc{
    max-width: 125px;
    width: 100%;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.bookmarks__desc {
    max-width: 218px;
    font-size: 14px;
    line-height: 155.6%;
}
.card {
    max-width: 991px;
    width: 100%;
}

.card-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 40px;
}
.card-item {
    max-width: 282px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 13px 15px 13px 18px;
}