.btn {
    margin-bottom: 11px;
}

.btn {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #0D75FF;
    cursor: pointer;
}

.homeLoginOut {
    display: inline-block;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0D75FF;
    border-radius: 4px;
    padding: 10px 23px 11px 23px;
}